Package: sidil13-installer
Version: 2023.03.23
Depends: git venv-python38-odoo13-base, venv-python38-odoo13-essentials, venv-python38-odoo13-i18n, venv-python38-odoo13-media, venv-python38-odoo13-networking, venv-python38-odoo13-tiny, gpg, lsb-release, locate, software-properties-common, make, gmsl, nginx, resolvconf, libffi-dev, libsasl2-dev, libldap2-dev, libssl-dev, postgresql, postgresql-client, postgresql-contrib, ttf-mscorefonts-installer, fonts-lato, node-less, libpq-dev, libjpeg-dev, libxml2-dev, libxslt-dev, zlib1g-dev, rustc, libncurses-dev
Architecture: all
Maintainer: João Jerónimo <joao@uniaolisboa-cgtp.pt>
Description: Instalador do SIDIL.
